.card-img {
  max-width: 500px
}

.featured-card {
  background-color: var(--color-cream);
  color: var(--color-accent-pink);
  max-width: 500px;
}

.featured-border {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-accent-pink);
  border-top: none;
  border-left: none;
  border-right: none;
}

.products-card {
  background-color: var(--color-accent-pink);
  color: var(--color-accent-light-pink);
  max-width: 500px;
}
