.featured-card {
  background-color: var(--color-cream);
  color: var(--color-accent-pink);
  max-width: 500px;
}

.products-card {
  background-color: var(--color-accent-pink);
  color: var(--color-accent-light-pink);
}
