---
layout: default
---

<div class="text-left pad-b pad-t-1-4 gutter">
  {% pattern navigations/back url="/products/" %}
</div>

<div class="grid grid-top product-details">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 island">
    <img class="img-flex" src="{{page.image}}">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2">
    <div class="island">
      <h1 class="push-0 pad-b-1-2">{{page.name}}</h1>
      <p class="peta">{{page.price}}</p>
      <p class="push-0 pad-b-1-2 bold">Dimensions: {{page.dimensions}}</p>
      <p class="push-0 pad-b-1-2">{{page.description}}</p>
      <div class="pad-t pad-b">
        {% pattern buttons/pink-cream text="Add to Bag" url="" %}
      </div>
    </div>
  </div>
</div>

<div>
  {% pattern banners/continue-shopping %}
</div>
