.header {
  color: var(--color-cream);
}

.header-content {
  max-width: none;
}

.content-banner-content {
  max-width: none;
}

.her-heart-banner {
  color: var(--color-accent-light-pink);
}

.continue-shopping-banner {
  background-color: var(--color-beige);
  color: var(--color-cream);
}

.product-img {
  background-image: url(/images/firefly-eyes-print.jpg);
  background-size: cover;
  background-position: center center;
}

.img-min-height {
  min-height: 600px;
}

.checkout-min-height {
  min-height: 500px;
}

.product-details {
  background-color: var(--color-accent-pink);
  color: var(--color-cream);
}

.checkout-product-details {
  background-color: var(--color-accent-light-pink);
  color: var(--color-accent-pink);
}


@media only screen and (min-width: 38em) {

  .header-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 20em;
  }

  .content-banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 20em;
  }

}
